{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}

{% block titleLinks %}
    <link rel="stylesheet" href="/public/css/notifications.css">
{% endblock %}

{% block main %}

<div class="notification-wrapper">
    <div class="notif-title-wrapper">
        <div class="notif-title">Notifications</div>
        <div >Unseen(<span id="unseen-count">{{ unseenCount }}</span>)</div>
    </div>
    <div class="notifications-container">
        {% for notification in notifications %}
            <a href="{{ notification.MAIN_LINK }}" data-notif-id="{{ notification.NOTIFICATION_ID }}" class="notif-row {% if not notification.isSeen %}notif-not-seen{% endif %} {% if not notification.isNotLink %}notif-not-link{% endif %}" >
                <div class="notif-img-wrapper">
                    <img class="notif-img" src="{{ notification.IMAGE_LINK }}" alt="img">
                </div>
                <div class="notif-body-wrapper">
                    <div class="notif-body-ttl">{{ notification.TITLE }}</div>
                    <div class="notif-text">
                        {{ notification.BODY }}
                    </div>
                    <div class="notif-text notif-footer">
                        <span class="notif-by">{{notification.SENDER_TEXT}}</span>
                        <span class="notif-date">20h ago</span>
                    </div>
                </div>
            </a>
        {% else %}
            <div class="no-notif">No notifications found</div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts%}
    <script src="/public/js/notification.js"></script>
{% endblock %}