{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}

{% block titleLinks %}
    <link rel="stylesheet" href="/public/css/notifications.css">
{% endblock %}

{% block main %}

<div class="notification-wrapper">
    <div class="notif-title-wrapper">
        <div class="notif-title">Notifications</div>
        <div >Unseen(32)</div>
    </div>
    <div class="notifications-container">
        {% for notification in notifications %}
            <a href="#" class="notif-row">
                <div class="notif-img-wrapper">
                    <img class="notif-img" src="https://www.essayroyal.com/HelloDjango/media/blog/posters/23569861-sample-grunge-red-round-stamp_TMfcsJz.jpg" alt="">
                </div>
                <div class="notif-body-wrapper">
                    <div class="notif-body-ttl">Welcome to efoodBasket</div>
                    <div class="notif-text">
                        Hello, thanks for joining efoodbasket. You can now use our dashboard. Your username is: ajlsksj@lslc.com and password is 888.
                    </div>
                    <div class="notif-text notif-footer">
                        <span class="notif-by">By admin</span>
                        <span class="notif-date">20h ago</span>
                    </div>
                </div>
            </a>
        {% else %}
            <div class="no-notif">No notifications found</div>
        {% endfor %}
    </div>
</div>

{% endblock %}
